<div class="teams-container">

  <div class="teams-search">
    <h5>SEARCH TEAMS</h5>
    <div class="search-form">
      <% @params||={} %>
      <%= form_for :teams_search, url: teams_search_path, method: :get do |f| %>
          <br>
          <%= f.label :name %>
          <br>
          <%= f.text_field :name, value: @params.dig(:name) %>
          <br>
          <br>
          <!--
          < f.label :country >
          <br>
          < f.text_field :country, value: @params.dig(:country) >
          <br>
          <br>
          -->
          <%= f.label :rating, "Rating" %><br>
          <% @params[:rating] = @params.dig(:rating).nil? ? 500 : @params.dig(:rating) %>

          <div id="evalSlider"></div><br>
          <%= f.number_field 'min_rating' %>
          <br>
          <br>
          <%= f.number_field 'max_rating' %>
          <br>
          <br>
          <%= f.submit 'Search', class: 'search-btn' %>
      <% end %>
    </div>
  </div>

  <div class="teams-index">
    <% @teams.each do |team| %>

      <div class="team-card">
      <div class="team-avatar">
        <img src = <%= team.logo %> />
      </div>  
        <h3 class="team-name"> <%= link_to "#{team.name}", team_path(team) %></h3>
        
        <p class="team-id">Team id: <%= team.dota2_team_id %> </p>
        
        <p class="team-rating">Rating: <%= team.rating %> </p>
        
        <p class="team-winrate">
          Winrate:
          <% if !team.winrate.nil? %>
            <%= team.winrate %>%
          <% else %>
            Insufficient data.
          <% end %>
        </p>
        
        <hr>
      </div>
    <% end %>

  </div>

</div>
<div class="pagination">
  <%= paginate @teams, window: 2 %>
</div>



