<% if signed_in? %>
  <% if current_user.id == @team.user_id %>
    <%= link_to 'Edit Team Details', edit_team_path(@team) %>
  <% end %>
<% end %>
<br>
<img src = "<%= @team.logo %>" />
<% if @team.status == false %>
  Team Status: <span class="inactive"> Inactive </span>
<% else %>
  Team Status: <span class="active"> Active </span>
<% end %>
<br>
Team ID: 
<%= @team.dota2_team_id %>
<br>
Name: 
<span class="team_name"> <%= @team.name %> </span>
<br>
Winrate: 
<%= @team.winrate %>%
<br>
<p>Team's current roster:</p>
<% @team.roster.each do |select| %>
  <% @pros.select do |item| %>
    <% if item["account_id"] == select.to_i %>
      <%= item["name"] %><br>
    <% end %>
  <% end %>
<% end %>
<p>Tournament history</p>
<p>Manager: <%= @team.manager %></p>
<p>Sponsor: <%= @team.sponsor %></p>
<p>Coach: <%= @team.coach %></p>
<p>link to form to join team</p>
<!-- This may not be necessary for now since it's only one game.<p>Games team is affiliated with: Dota 2</p> -->
<p>If present, looking for player(with position)?</p>
<!-- Contact us option -->