<% if current_user.id == @team.user_id %>
  <p>link to edit team</p>
<% end %>
<% if @team.status == false %>
  Team Status: Inactive
<% else %>
  Team Status: Active
<% end %>
<br>
Team ID: 
<% if @team["team_id"].present? %>
  <%= @team["team_id"] %>
<% end %>
<br>
Name: 
<% if @team["name"].present? %>
  <%= @team["name"] %>
<% end %>
<br>
Rating: 
<% if @team["rating"].present? %>
  <%= @team["rating"] %>
<% end %>  
<br>
Wins: 
<% if @team["wins"].present? %>
  <%= @team["wins"] %>
<% end %>
<br>
Tags: 
<% if @team["tag"].present? %>
  <%= @team["tag"] %>
<% end %>
<p>Team's current roster</p>
<p>Tournament history</p>
<p>Manager: <%= @team.manager %></p>
<p>Sponsor: <%= @team.sponsor %></p>
<p>Coach: <%= @team.coach %></p>
<p>link to form to join team</p>
<!-- This may not be necessary for now since it's only one game.<p>Games team is affiliated with: Dota 2</p> -->
<p>If present, looking for player(with position)?</p>
<!-- Contact us option -->