<div class="player-profile-info">
  <div class="player-info-box">
    <div  class="player-info" id="profile">
      <h1 class="player-profile-header">Player Profile</h1> 
        <main>
          <section>
              <% if @var.profile_exist? %>
                <div class="player-avatar">
                  <a href="<%= @user["profile"]["profileurl"] %>">
                    <img src="<%= @user["profile"]["avatarfull"] %>" id="avatar">
                  </a>
                </div>  
                <div>
                <a href="<%= @user["profile"]["profileurl"] %>">
                  <h3 class="player-name"> <%= @var.persona_name %></h3>
                </a>
                </div>
              <p>Team if present?</p>
              <p>Account ID: <%= @var.uid %></p>
              <p>Last Login: <%= DateTime.strptime(@user["profile"]["last_login"], '%Y-%m-%dT%H:%M:%S').strftime('%a %d %b %Y') %></p>
              <p>Country: <%= @var.country %></p>
              <p>Solo MMR: <%= @user["solo_competitive_rank"] %></p>
              <p>Winrate: <%= @var.winrate %>%</p>
              <p>Top Heroes: </p>

              <% @var.top_heroes_npc_names[0..2].each_with_index do |name, index| %>
                <div id="top-hero-image-<%= index+1 %>">
                  <img src="http://cdn.dota2.com/apps/dota2/images/heroes/<%= name %>_lg.png" />
                </div>
              <% end %>
            <% else %>
              <p>User does not have dota game history</p>
            <% end %>
          </section>
        </main>
    </div>    
  </div>  
</div>

  <% if @var.profile_exist? %>
  

  <% @var.top_heroes[0..2].each_with_index do |hero, index| %>
  <% hero = HeroApi.new(@var.uid, hero) %>
  <div class="player-hero-info <%= "hidden" if index != 0 %>">
    <div class="player-hero-box">
      <div class="player-hero">
        <h1 class="player-hero-header"> Top Hero Stats </h1>
          <main>
            <section>
              <div class="hero-avatar">
                <img src="https://s3-ap-southeast-1.amazonaws.com/elabs-next/Heroes/<%= hero.hero_name.downcase %>.gif" id="hero-gif" >
              </div>
              <div class="hero-stats">
              <h1 class="hero-name"><%= hero.hero_name %></h1>

              <br>

              <p><strong><font color="#FFCA2A">Times played: <%= hero.games %></font></strong></p>

              <br>

              <p><strong><font color="#FFCA2A"> Hero Winrate: <%= hero.winrate %>%</font></strong></p>

              <br>

              <p><strong><font color="#FFCA2A"> Hero Average K.D.A: <%= hero.kills_rate %>/<%= hero.deaths_rate %>/<%= hero.assists_rate %> </font></strong></p>
              </div>
              <div class="hero-match">
              <!-- This is all of the top heroes matches -->
                <table class="past-stats-table">
                  <tr>    
                    <th><span class="statname">  </span></th>

                    <th><span class="statname"> Kills </span></th>

                    <th><span class="statname"> Deaths </span></th>

                    <th><span class="statname"> Assists </span></th>

                    <th><span class="statname"> GPM </span></th>

                    <th><span class="statname"> XPM </span></th>

                  </tr>
                  <% hero.matches.each do |match| %>
                  <tr>
                    <% if match["user_win"] %>
                      <td><span class="won"> Won </span></td>
                    <% else %>
                      <td><span class="lost"> Lost </span></td>
                    <% end %>
               
                    <td><span class="statnumber", id="kills"> <%= match["kills"] %></span></td>

                    <td><span class="statnumber", id="deaths"> <%= match["deaths"] %></span></td>

                    <td><span class="statnumber", id="assists"> <%= match["assists"] %></span></td>

                    <td><span class="statnumber", id="gpm"> <%= match["gold_per_min"] %> </span></td>

                    <td><span class="statnumber", id="xpm"> <%= match["xp_per_min"] %> </span></td>

                    <td><span class="statnumber", id="items"> 
                      <% match["player_match_items"].each do |item| %> 
                        <div>
                          <img src = "http://cdn.dota2.com/apps/dota2/images/items/<%= item %>_lg.png" >
                        </div>
                      <% end %>
                    </span></td>
              
                  <% end %>
                  </tr>
                </table>
              </div>
            </section>
          </main>
      </div>
    </div>  
  </div>
  <% end %>

<% end %>

<span class="buttonright", id="create-team"> <%= link_to "Create Team", new_team_path %> </span>


<!-- Missing:  
Team
Sponsors
Game
Role
Age
Location
Tournament History
Team History
Interested in Joining
Contact me link
-->