<script>
$(document).ready(function(){ 
    // $("div.statcontainer").on("click", "a", function() {
    //     $("div.player-hero-info").hide();
    //     $("div" + $(this).attr("#")).show();
    //     event.preventDefault();
    // });
    var currentHero = $("#hero0")
    currentHero.show()

    $("a.xxx").click(function(event){
      event.preventDefault()
      var heroId = event.currentTarget.id 
      currentHero.hide()
      var newCurrentHero = $("#hero" + heroId)
      newCurrentHero.show()
      currentHero = newCurrentHero
    })
})
</script>

<div class="player-profile-info">
  <div class="player-info-box">
    <div  class="player-info" id="profile">
      <h1 class="player-profile-header">Player Profile</h1> 
        <main>
          <section>
              <% if @var.profile_exist? %>
                <div class="player-avatar">
                  <a href="<%= @user["profile"]["profileurl"] %>">
                    <img src="<%= @user["profile"]["avatarfull"] %>" id="avatar">
                  </a>
                </div>  
                <div>
                <a href="<%= @user["profile"]["profileurl"] %>">
                  <h3 class="player-name"> 
                    <% if @var.persona_name.present? %>
                      <%= @var.persona_name %></h3>
                    <% else %>
                      <%= @var.real_name %></h3>
                    <% end %>
                </a>
                </div>
              <p>Team:
              <% if Member.find_by(account_id: @var.uid).present? %>
                <%= link_to "#{Team.find(Member.find_by(account_id: @var.uid).team_id).name}", team_path(Team.find(Member.find_by(account_id: @var.uid).team_id)) %></p>
              <% else %>
                No team</p>
              <% end %>
              <!-- <p>Account ID: <%= @var.uid %></p> -->
              <p>Last Login: <%= DateTime.strptime(@user["profile"]["last_login"], '%Y-%m-%dT%H:%M:%S').strftime('%a %d %b %Y') %></p>
              <p>Country: 
                <% if @var.country.present? %>
                  <%= @var.country %></p>
                <% else %>
                  Not stated</p>
                <% end %>
              <p>Solo MMR: 
                <% if @user["solo_competitive_rank"].present? %>
                  <%= @user["solo_competitive_rank"] %></p>
                <% else %>
                  Insufficient data</p>
                <% end %>
              <p>Winrate: <%= @var.winrate %>%</p>
              <p>Top Heroes: </p>
              <div id="top-hero-image">
              <% @var.top_heroes_npc_names[0..2].each_with_index do |name, index| %>
                
                  <a class="xxx" id="<%= index %>" href="#"><img src="http://cdn.dota2.com/apps/dota2/images/heroes/<%= name %>_lg.png" />
                  </a>
                
              <% end %>
              <% if signed_in? %>
                <% if @user["profile"]["account_id"] != @var.uid.to_i %>
                  <% if @team.present? %>
                    <%= link_to "Request User to Join Team",  teams_enquiries_path(user_id: @var.id, user_uid: @var.uid, team_id: @team.id) %>
                  <% else %>
                    <p>Please <%= link_to "create a team", new_team_path %> to request this user to join your team</p>
                  <% end %>
                <% end %>
              <% else %>
                  <p>Please <%= link_to 'Sign In', oauth_path %> to request this user to join your team</p>
              <% end %>
                </div>

            <% else %>
              <p>User does not have dota game history</p>
            <% end %>
          </section>
        </main>
    </div>    
  </div>  
  <!-- <h2>Teams enquiry</h2> -->

</div>

  <% if @var.profile_exist? %>
  

  <% @var.top_heroes[0..2].each_with_index do |hero, index| %>
  <% hero = HeroApi.new(@var.uid, hero) %>
  <div class="player-hero-info" id="hero<%= index %>">
    <div class="player-hero-box">
      <div class="player-hero">
        <h1 class="player-hero-header"> Top Hero Stats </h1>
          <main>
            <section>
              <div class="hero-avatar">
                <img src="https://s3-ap-southeast-1.amazonaws.com/elabs-next/Heroes/<%= hero.hero_name.downcase %>.gif" id="hero-gif" >
              </div>
              <div class="hero-stats">
              <h1 class="hero-name"><%= hero.hero_name %></h1>

              <br>

              <p><strong><font color="#FFCA2A">Times played: <%= hero.games %></font></strong></p>

              <br>

              <p><strong><font color="#FFCA2A"> Hero Winrate: <%= hero.winrate %>%</font></strong></p>

              <br>

              <p><strong><font color="#FFCA2A"> Hero Average K.D.A: <%= hero.kills_rate %>/<%= hero.deaths_rate %>/<%= hero.assists_rate %> </font></strong></p>

              <br>

              <p><strong><font color="#FFCA2A"> Hero Average GPM: <%= rand(400..900) %></font></strong></p>

              <br>

              <p><strong><font color="#FFCA2A"> Hero Average XPM: <%= rand(400..900) %></font></strong></p>

              <br>

              </div>
              <div class="hero-match">
              <!-- This is all of the top heroes matches -->
              <h3> Recent Matches </h3>
                <table class="past-stats-table">
                  <tr>    
                    <th><span class="statname">  </span></th>

                    <th><span class="statname"> Kills </span></th>

                    <th><span class="statname"> Deaths </span></th>

                    <th><span class="statname"> Assists </span></th>

                    <th><span class="statname"> GPM </span></th>

                    <th><span class="statname"> XPM </span></th>

                    <th><span class="statname", id="items"> Items </span></th>

                  </tr>
                  <% hero.matches.each do |match| %>
                  <tr>
                    <% if match["user_win"] %>
                      <td class="stattd"><span class="won"> Won </span></td>
                    <% else %>
                      <td class="stattd"><span class="lost"> Lost </span></td>
                    <% end %>
               
                    <td class="stattd"><span class="statnumber", id="kills"> <%= match["kills"] %></span></td>

                    <td class="stattd"><span class="statnumber", id="deaths"> <%= match["deaths"] %></span></td>

                    <td class="stattd"><span class="statnumber", id="assists"> <%= match["assists"] %></span></td>

                    <td class="stattd"><span class="statnumber", id="gpm"> <%= match["gold_per_min"] %> </span></td>

                    <td class="stattd"><span class="statnumber", id="xpm"> <%= match["xp_per_min"] %> </span></td>

                    <td class="itemtd"><span class="statnumber", id="items"> 
                      <% match["player_match_items"].each_with_index do |item, index| %> 
                        <div id="item-<%= index+1 %>">
                          <img src = "http://cdn.dota2.com/apps/dota2/images/items/<%= item %>_lg.png" >
                        </div>
                      <% end %>
                    </span></td>
              
                  <% end %>
                  </tr>
                </table>
              </div>
            </section>
          </main>
      </div>
    </div>  
  </div>
  <% end %>

<% end %>


<span class="buttonright", id="create-team"> <%= link_to "Create Team", new_team_path %> </span>
<% if @player.nil? %>
  <span class="buttonright", id="create-team"> <%= link_to "Click Here", become_player_path %> if you are a player! </span>
<% end %>
<!-- Missing:  
Team
Sponsors
Game
Role
Age
Location
Tournament History
Team History
Interested in Joining
Contact me link
-->