<div class="player-profile-info">
<div class="player-info-box"></div>
  <h1 class="player-profile-header">Player profile</h1> 
    <main>
      <section class="player-info" id="profile">
        <div class="player-avatar">
          <a href="<%= @user["profile"]["profileurl"] %>">
            <img src="<%= @user["profile"]["avatarfull"] %>" id="avatar">
          </a>
        <div>
          <% if !@user["profile"].nil? %>
            <a href="<%= @user["profile"]["profileurl"] %>">
              <h3> <%= @user["profile"]["personaname"] %></h3>
            </a>
        </div>
          <p>Team if present?</p>
          <p>Account ID: <%= @user["profile"]["account_id"] %></p>
          <p>Last Login: <%= DateTime.strptime(@user["profile"]["last_login"], '%Y-%m-%dT%H:%M:%S').strftime('%a %d %b %Y') %></p>
          <p>Country: <%= @user["profile"]["loccountrycode"] %></p>
          <p>Solo MMR: <%= @user["solo_competitive_rank"] %></p>
          <p>Winrate: <%= @user_winrate %>%</p>
          <p>Top Heroes: </p>

          <% @top_heroes_names.each do |name| %>
            <img src="http://cdn.dota2.com/apps/dota2/images/heroes/<%= name %>_lg.png" />
          <% end %>
        <% else %>
          <p>User does not have dota game history</p>
        <% end %>
        </div>
      </section>
    </main>
</div>
<div class="player-hero-info">
  <div class="player-hero-box"></div>
    <main>
      <section class="player-hero">
        <div class="hero-avatar">
          <img src="https://s3-ap-southeast-1.amazonaws.com/elabs-next/Heroes/antimage.gif" id="hero-gif" >
        </div>
        <div class="hero-stats">
        <h1>Anti-Mage</h1>

        <br>

        <p><strong><font color="#FFCA2A">Times played: <%= @top_hero["games"] %></font></strong></p>

        <br>

        <p><strong><font color="#FFCA2A"> Hero Winrate: <%= @top_hero_winrate %>%</font></strong></p>

        <br>

        <p><strong><font color="#FFCA2A"> Hero K.D.A: <%= @top_hero_kills.to_i %>/<%= @top_hero_assists.to_i %>/<%= @top_hero_deaths.to_i %> </font></strong></p>
        </div>
      </section>
    </main>
</div>
<span class="buttonright"> <%= link_to "Create Team", new_team_path %> </span>


<!-- Missing:  
Team
Sponsors
Game
Role
Age
Location
Tournament History
Team History
Interested in Joining
Contact me link
-->
