<!--
	for more information, you can go to the below link.
	http://sharonkuo.me/dota2/tournament.html
 -->
<div class="tournaments-container">

  <div class=tournaments-search>
    <h5>SEARCH TOURNAMENTS</h5>
    <% @params||={} %>
    <%= form_for :search, url: tournament_search_path, method: :get do |f| %>
        <%= f.label :name, "Name: " %>
        <%= f.text_field :name, value: @params.fetch(:name, nil) %>
        <br>
        <br>
        <%= f.label :description, "Description: " %>
        <br>
        <%= f.text_field :description, value: @params.fetch(:description, nil), class: "form-text" %>
        <br>
        <br>
        <%= f.label :game, "Game: " %>
        <%= f.text_field :game, selected: @params.fetch(:game, nil) %>
    <div class= "date-container">
        <%= f.label :start, "Start Date: " %>
        <br>
        <%= f.date_select :start, selected: @params.fetch(:start, Date.today)%>
        <br>
        <%= f.label :end, "End Date: " %>
        <br>
        <%= f.date_select :end, selected: @params.fetch(:end, Date.today) %>
        <br>
        <br>
        <%= f.submit 'Search', class: "search-btn" %>
    </div>
    <% end %>
  </div>

  <div class="tournaments-index">
    <div class="site-wrapper">
        <% @tournaments.each do |tournament|  %>
        <div class= "inline-site-wrapper" >
            <img src= <%= tournament.image %> />
            <div class="inline-site-wrapper-p">
                <p><a href=<%= tournament.tournament_url%> target="_blank"> <%= tournament.name %></a></p>
                <p><%= tournament.start.to_date %></p>
                <p><%= tournament.game %></p>
            </div>
        </div>
        <% end %>
        <br>
        <br>
    </div>
  </div>
  <div class="pagination">
    <%= paginate @tournaments, window: 2 %>
  </div>
</div>
