<!-- 
	for more information, you can go to the below link.
	http://sharonkuo.me/dota2/tournament.html
 -->
 <br>
 <br>	
<% @params||={} %>
<%= form_for :search, url: tournament_search_path, method: :get do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, value: @params.fetch(:name, nil) %>

    <%= f.label :description %>
    <%= f.text_field :description, value: @params.fetch(:description, nil) %>

    <%= f.label :start %>
    <%= f.date_select :start, selected: @params.fetch(:start, Date.today) %>

    <%= f.label :end %>
    <%= f.date_select :end, selected: @params.fetch(:end, Date.today) %>
    
    <%= f.label :game %>
    <%= f.text_field :game, selected: @params.fetch(:game, nil) %>

    <%= f.submit 'Search' %>
<% end %>
################## Upcoming Event ##################<br>
<!-- for more attribute, please refer to schema -->
<% @tournaments.each do |tournament|  %>
	<a href=<%= tournament.tournament_url%> target="_blank"> <%= tournament.name %></a> <br>
	<%= tournament.start.to_date %><br>
	<%= tournament.game %><br>
<% end %>
####################################################<br>
