<div class="header">
  <div class="overlay">
    <div class="header-title">
      <h1>eLabs</h1>
      <h3>Incubating the local gaming scene in Malaysia</h3>
      <br>
      <div class="short-links">
        <%= link_to "FIND TEAMS", teams_path %>
      </div>
      <div class="short-links">
        <%= link_to "FIND PLAYERS", players_path%>
      </div>

    </div>
  </div>
</div>

<div class="main-body">
  <!-- <div class="overlay"> -->
    <div class="sections">

      <div class="sidebar">
        <div class="team">
          <h6>Team Of The Week</h6>
            <div class="team-info">
              <% if @team.present? %>
                <img src="<%= @team.logo %>" id="avatar-home">
                <br>
                <br>
              <br>
              <p><%= link_to "#{@team.name}", team_path(@team) %></p>
              <p>Winrate: <%= @team.winrate %>%</p>
              <% end %>
            </div>
        </div>

        <div class="player">
          <h6>Player Of The Week</h6>
          <br>
          <img src="<%= @player.avatar %>" id="avatar-home">
          <br>
          <br>
          <p><%= @player.persona_name %></p>
          <p>Winrate: <%= @player.winrate %>%</p>
          <p>Team: <%= @player.team_name %></p>
        </div>

        <div class="ads">
          <h6>Advertisements</h6>
          <div class="ad">
            <a href="https://streamr-next.herokuapp.com/">
              <img src="https://s3-ap-southeast-1.amazonaws.com/elabs-next/streamr-logo.png" alt="">
            </a>
            <p>Streamr showcases random streams from YouTube to help new streamers gain exposure and new subscribers</p>
          </div>

          <div class="ad">
            <a href="#">
              <img src="https://s3-ap-southeast-1.amazonaws.com/elabs-next/smart-gamer-ad.png" alt="">
            </a>
            <p></p>
          </div>
        </div>

        <!--testing block for oauth-->
        <div class="signin">
          <% if current_user %>
              <h6>Signed in as <br><%= current_user.real_name %></h6>
              <%= link_to 'Sign out', sign_out_path, method: :delete %>
          <% else %>
              <h6>First time sign in</h6>
              <%= form_for :oauth, url: sign_up_path do |f| %>
                  <%= f.label :email %>
                  <br>
                  <%= f.text_field :email %>
                  <br>
                  <%= f.submit 'Sign up with Steam', class: 'button' %>
              <% end %>
              <hr>
              <h6>Sign in</h6>
              <%= link_to 'Sign in with Steam', oauth_path %>
              <!-- <h6>Not signed in</h6> -->
          <% end %>
        </div>
        <!---->
      </div>

    <div class="content">
      <div class="events">
        <h3 class="title-stamp">EVENTS</h3>
        <div class="events-list">
          <% @tournaments.each do |tournament|  %>
          <div class="tournament-list">
            <img src= <%= tournament.image %> />
              <p class="tournament-name"><a href=<%= tournament.tournament_url%> target="_blank"> <%= tournament.name %></a></p>
              <p><%= tournament.start.to_date %></p>
          </div>
          <% end %>
        </div>
      </div>

      <br>

      <div class="active">
        <h3 class="title-stamp">STREAMS</h3>
        <div class="video-stream">
          <iframe width="280" height="150" src="https://gaming.youtube.com/embed/t2rVTf485m8" frameborder="0" allowfullscreen></iframe>
          <iframe width="280" height="150" src="https://gaming.youtube.com/embed/WmSO2DC9v8c" frameborder="0" allowfullscreen></iframe>
          <iframe width="280" height="150" src="https://gaming.youtube.com/embed/t2rVTf485m8" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <br>

      <div class="sponsors">
        <h3 class="title-stamp">SPONSORS</h3>
        <div class="sponsor-logos">
          <a href="http://falloutgaming.co/">
            <img src="https://s3-ap-southeast-1.amazonaws.com/elabs-next/fallout.png" alt="fallout gaming">
          </a>
          <a href="https://gaming.logitech.com/en-us">
              <img src="https://s3-ap-southeast-1.amazonaws.com/elabs-next/logitech.gif" alt="logitech">
          </a>
          <a href="https://www.razerzone.com/">
            <img src="https://s3-ap-southeast-1.amazonaws.com/elabs-next/razer.png" alt="razer">
          </a>
          <a href="http://www.coolermaster.com/">
            <img src="https://s3-ap-southeast-1.amazonaws.com/elabs-next/coolermaster.png" alt="coolermaster">
          </a>
        </div>
        <br>
        <p>Want to become a sponsor? Find out how.</p>
      </div>
    </div>


    </div>
  </div>


</div>
