<% @params||={} %>

<%= form_for :search, url: player_search_path, method: :get do |f| %>

    <%= f.label :persona_name %>
    <%= f.text_field :persona_name, value: @params.dig(:persona_name) %>

    <%= f.label :real_name %>
    <%= f.text_field :real_name, value: @params.dig(:real_name) %>

    <%= f.label :state %>
    <%= f.text_field :state, value: @params.dig(:state) %>

    <%= f.label :mmr_lower_range %>
    <%= f.number_field :mmr_lower_range, value: @params.dig(:mmr_lower_range) %>

    <%= f.label :mmr_upper_range %>
    <%= f.number_field :mmr_upper_range, value: @params.dig(:mmr_upper_range) %>
    
    <%= f.submit 'Search' %>
<% end %>


<% @players.each do |player| %>

    <!--populate the player info that are to be shown here-->
    <p>
        <%= player.id %>
    </p>

<% end %>