<!DOCTYPE html>
<html>
  <head>
    <title>eLabs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="navbar">

      <div class="left-navbar">
        <%= image_tag("https://s3-ap-southeast-1.amazonaws.com/elabs-next/logo.png", class:"logo") %>
      </div>

      <div class="right-navbar">
        <div class="player">
          <p>Username and avatar</p>
        </div>

        <div class="nav-links">
          <ul>
            <li><%= link_to "HOME", root_path%></li>
            <li>EVENTS</li>
            <li>PLAYERS</li>
            <li>TEAMS</li>
            <li>SPONSORS</li>
            <% if signed_in? %>
              <li><%= link_to "PROFILE", user_path(current_user) %></li>
            <% else %>
              <li><%= link_to "SIGN UP", sign_up_path %></li>
            <% end %>
          </ul>
        </div>
      </div>


    </div>

    <%= yield %>

    <div id="footer">
      <ul>
        <li>About Us</li>
        <li>Contact</li>
        <li>Follow Us</li>
        <li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
        <li><i class="fa fa-twitter-square" aria-hidden="true"></i></li>
        <li><i class="fa fa-youtube-square" aria-hidden="true"></i></li>
      </ul>
    </div>
  </body>
</html>
