<!DOCTYPE html>
<html>
  <head>
    <title>eLabs</title>
    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="opaque-box"></div>
    <div id="navbar">

      <div class="left-navbar">
        <%= link_to root_path do %>
          <%=image_tag("https://s3-ap-southeast-1.amazonaws.com/elabs-next/logo.png", class:"logo") %>
        <% end %>
      </div>

      <div class="right-navbar">
        <div class="player-navbar">
          <!-- <p>Username and avatar</p> -->
          <div class="user-info">
            <% if @home_user.present? %>
              <% if @home_user.player.present? %>
                <p><%= @home_user.player.persona_name %></p>
                <div class="avatar-img"><%= image_tag @home_user.player.avatar %></div>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="nav-links">
          <ul>
            <li><%= link_to "HOME", root_path%></li>
            <li><%= link_to "TOURNAMENTS", tournaments_path%></li>
            <li><%= link_to "PLAYERS", players_path%></li>
            <li><%= link_to "TEAMS", teams_path %></li>
            <li>SPONSORS</li>
            <% if signed_in? %>
              <li><%= link_to "PROFILE", user_path(current_user) %></li>
            <% else %>
              <li><%= link_to 'STEAM SIGN-IN', oauth_path %></li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>



    <%= yield %>

    <div id="footer">
      <ul>
        <li>About Us</li>
        <li>Contact</li>
        <li>Follow Us</li>
        <li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
        <li><i class="fa fa-twitter-square" aria-hidden="true"></i></li>
        <li><i class="fa fa-youtube-square" aria-hidden="true"></i></li>
      </ul>
    </div>

  </body>
</html>
